---
sudo: required

services:
  - docker

branches:
  only:
    - dev
    - master

before_script:
  - echo "Starting"

script:
  - docker build . -t darmagedon/angular-ci:latest

after_success:
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)

  - if [ ${BRANCH} = "dev" ]; then
      docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      docker tag darmagedon/angular-ci:latest darmagedon/angular-ci:dev
      docker push darmagedon/angular-ci:dev

  - if [ ${BRANCH} = "master" ]; then
      docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      docker tag darmagedon/angular-ci:latest darmagedon/angular-ci:stable
      docker push darmagedon/angular-ci:stable
